text2img-Telegram-Bot.json
{
  "name": "text2img-Telegram-Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -896,
        32
      ],
      "id": "33ad6699-6ded-4c2f-b061-eba140c3de77",
      "name": "Telegram Trigger",
      "webhookId": "4b2c0d3b-5247-45a5-bbe5-c4fa2fff5da6",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "KwAzFRET7KeFoHlA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-preview"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.message.text.replace('@z_mindjourey_bot', '').trim() }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        320,
        464
      ],
      "id": "e9f56025-35ff-4b57-a4e5-00d1ae18a397",
      "name": "Message a model",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=你说:{{ $json.message.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        240
      ],
      "id": "c322ae9c-cd89-492e-9aa7-ef82644a7ed0",
      "name": "Send a text message",
      "webhookId": "b428b222-aef2-43ac-9400-7a004d3fe829",
      "credentials": {
        "telegramApi": {
          "id": "KwAzFRET7KeFoHlA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fb99ab98-a4e8-47a2-b3f6-0c2038ff3e1a",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "@z_mindjourey_bot",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -688,
        32
      ],
      "id": "32f37981-104f-4446-b7ef-d9ce6175ebd0",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a7379955-feaa-4d0a-a6f7-fd24e700ad23",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "画图：",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        16
      ],
      "id": "dc28f008-25b1-4ebf-a736-9ab64b85fac5",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a17f0f76-3f6f-4ca0-aed1-fc836f71bbf8",
              "name": "message.text",
              "value": "={{ $json.message.text.replace('@z_mindjourey_bot', '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        16
      ],
      "id": "cdd1c4d2-bfbd-4fd9-80a3-694f52511bdc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ede6dd3-1517-40b3-b73b-a2ad243d269b",
              "name": "message.text",
              "value": "={{ $json.message.text.replace('画图：', '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "aea663ac-06ea-4f7f-85f4-c8eafb3075f8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.126.3.102:8000/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"z-image-turbo\",\n  \"prompt\": \"{{ $json.message.text }}\",\n  \"size\": \"1024x1024\",\n  \"n\": 1,\n  \"response_format\": \"b64_json\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "506fd0e3-b8c0-4caf-9eb4-eb3b0159a5b7",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FT8mznJzxPNsKzWh",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. 获取 API 返回的 Base64 字符串\nconst base64String = items[0].json.data[0].b64_json;\n\n// 2. 将 Base64 转换为二进制 Buffer\nconst binaryData = Buffer.from(base64String, 'base64');\n\n// 3. 【关键步骤】重新获取 Trigger 里的 Chat ID 和 Message ID\n// 我们使用 $('Telegram Trigger').first() 确保能跨节点获取到最初的数据\nconst triggerData = $('Telegram Trigger').first().json.message;\n\nreturn [\n  {\n    json: {\n      // 把这些关键信息显式地传给下一个节点\n      chat_id: triggerData.chat.id,\n      message_id: triggerData.message_id,\n      // 也可以顺便把提示词带上\n      prompt: items[0].json.prompt || \"image\" \n    },\n    binary: {\n      image: {\n        data: base64String,\n        mimeType: 'image/png',\n        fileName: 'generated_image.png'\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "bfcb1ccf-7954-419a-a0e3-23d703db9922",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.chat_id }}",
        "binaryData": true,
        "binaryPropertyName": "image",
        "additionalFields": {
          "caption": "绘制完成",
          "reply_to_message_id": "={{ $json.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "108032ea-35d9-41cf-a3af-b10d838b27ac",
      "name": "Send a photo message",
      "webhookId": "d253b32f-7b7e-4dde-882a-2f9cc135d22a",
      "credentials": {
        "telegramApi": {
          "id": "KwAzFRET7KeFoHlA",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "70a637db-52d7-49f8-98ae-0573ed7758ac",
  "meta": {
    "instanceId": "ddaf392637b206c3ca35cb59af8832c68e4fb30d5aa89f58f86f6c1d64e88ff6"
  },
  "id": "1kxUNqSgWbcjN2cZ",
  "tags": []
}